header{
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(29, 29, 29);
    box-shadow: 0px 5px 20px rgba(78, 78, 78, 0.5);
}

a{
    text-decoration: none !important;
}

.nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegar{
    width: 60%;
}

.lista-nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(161, 137, 104);
    padding: 7px;
    border-radius: 40px;
}

.lista-nav li{
    list-style: none;
    padding: 5px 10px;
}

.lista-nav li a{
    font-weight: 700;
    color: white;
    border-radius: 40px;
    padding: 5px 10px;
}

.lista-nav li a:hover{
    background-color: rgb(129, 111, 83);
    border-radius: 40px;
    transition: .3s linear all;
}

.carrito{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 40px;
}

.carrito :hover{
    background-color: rgb(129, 111, 83);
    transition: .3s linear all;
}

.carrito a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(161, 137, 104);
}
