@if (products.length == 0) {
  <h3>No hay productos registrados!</h3>
}@else {
  <div class="tabla">
    <div class="cabecera-tabla">
      <p>ID</p>
      <p>MARCA</p>
      <p>PRECIO</p>
      <p>TIPO</p>
      <p>OPERACIONES</p>
    </div>

    @for (product of products; track product.id) {
      <div class="cuerpo-tabla">
        <p> {{ product.id }} </p>
        <p> {{ product.marca }} </p>
        <p> {{ product.precio }} </p>
        <p> {{ product.tipo }} </p>
        <div class="btns-operaciones">
          <button class="btn-editar" (click)="editProduct(product)">Editar</button>
          <button class="btn-eliminar">Eliminar</button>
        </div>
      </div>
    }
  </div>
}

@if (isEditing) {

  <h3>Editar Producto</h3>
  <form (ngSubmit)="saveProduct()">
    <div>
      <label for="marca">Marca:</label>
      <input
        id="marca"
        [(ngModel)]="selectedProduct!.marca"
        name="marca"
        required
      />
    </div>
    <div>
      <label for="precio">Precio:</label>
      <input
        id="precio"
        type="number"
        [(ngModel)]="selectedProduct!.precio"
        name="precio"
        required
      />
    </div>
    <div>
      <label for="tipo">Tipo:</label>
      <input
        id="tipo"
        [(ngModel)]="selectedProduct!.tipo"
        name="tipo"
        required
      />
    </div>
    <div>
      <button type="submit">Guardar</button>
      <button type="button" (click)="cancelEditing()">Cancelar</button>
    </div>
  </form>
}