@if (products.length == 0) {

  <h3 class="sin-productos">No hay productos registrados!</h3>
  
}@else {
  <div class="tabla">
    <div class="cabecera-tabla">
      <p>ID</p>
      <p>MARCA</p>
      <p>PRECIO</p>
      <p>TIPO</p>
      <p>OPERACIONES</p>
    </div>

    @for (product of products; track product.id) {
      <div class="cuerpo-tabla">
        <p> {{ product.id }} </p>
        <p> {{ product.marca }} </p>
        <p> {{ product.precio }} </p>
        <p> {{ product.tipo }} </p>
        <div class="btns-operaciones">
          <button class="btn-editar" (click)="editProduct(product)">Editar</button>
          <button class="btn-eliminar">Eliminar</button>
        </div>
      </div>
    }
  </div>
}

@if (isEditing) {

  <h3>Editar</h3>
  <form class="form" (ngSubmit)="onSubmit()" #productForm="ngForm" novalidate>

    <div class="campos-form">
      <label for="marca">Marca</label>
      <input
        id="marca"
        [(ngModel)]="selectedProduct!.marca"
        name="marca"
        required
        [ngClass]="{ 'invalid-input': !marca.invalid && marca.touched }"
        #marca="ngModel"
      />
      
      @if (marca.invalid && marca.touched) {
        <div class="error-message">
          Este campo es obligatorio.
        </div>
      }
    </div>

    <div class="campos-form">
      <label for="precio">Precio</label>
      <input
        id="precio"
        type="number"
        [(ngModel)]="selectedProduct!.precio"
        name="precio"
        required
        [ngClass]="{ 'invalid-input': !precio.invalid && precio.touched }"
        #precio="ngModel"
      />

      @if (precio.invalid && precio.touched) {
        <div class="error-message">
          Este campo es obligatorio.
        </div>
      }
    </div>

    <div class="campos-form">
      <label for="tipo">Tipo</label>
      <input
        id="tipo"
        [(ngModel)]="selectedProduct!.tipo"
        name="tipo"
        required
        [ngClass]="{ 'invalid-input': !tipo.invalid && tipo.touched }"
        #tipo="ngModel"
      />

      @if (tipo.invalid && tipo.touched) {
        <div class="error-message">
          Este campo es obligatorio.
        </div>
      }
    </div>

    <div class="btns-form">
      <button [disabled]="productForm.invalid" class="btn-guardar" type="submit">Guardar</button>
      <button class="btn-cancelar" type="button" (click)="cancelEditing()">Cancelar</button>
    </div>

  </form>

}